Rplots.pdf
UsingSpikeSlabGAM-concordance.tex
UsingSpikeSlabGAM-plotm1.pdf
UsingSpikeSlabGAM-plotm1sm1.pdf
UsingSpikeSlabGAM-plotm1sm2f.pdf
UsingSpikeSlabGAM-plotm1sm2fprep.pdf
UsingSpikeSlabGAM.bbl
UsingSpikeSlabGAM.log
UsingSpikeSlabGAM.synctex.gz
*.html
*.R
/cache/*.*
cache
UsingSpikeSlabGAMplotm1-1.pdf
UsingSpikeSlabGAMplotm1prep-1.pdf
UsingSpikeSlabGAMplotm1sm1-1.pdf
UsingSpikeSlabGAMplotm1sm1Prep-1.pdf
UsingSpikeSlabGAMplotm1sm1Prep-2.pdf
UsingSpikeSlabGAMplotm1sm2f-1.pdf
UsingSpikeSlabGAMplotm1sm2fprep-1.pdf
UsingSpikeSlabGAM.pdf
UsingSpikeSlabGAM.tex
