Rplots.pdf
UsingSpikeSlabGAM-concordance.tex
UsingSpikeSlabGAM-plotm1.pdf
UsingSpikeSlabGAM-plotm1sm1.pdf
UsingSpikeSlabGAM-plotm1sm2f.pdf
UsingSpikeSlabGAM-plotm1sm2fprep.pdf
UsingSpikeSlabGAM.bbl
UsingSpikeSlabGAM.log
UsingSpikeSlabGAM.synctex.gz
